<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link href="/static/tpl/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i> 返回 </a></h5>
                <div class="ibox-tools">修改承运信息 </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal m-t" enctype="multipart/form-data" method="post" action="/admin/driver/updatemessage" id="commentForm">

                    <div class="form-group" id="company">
                        <label class="col-sm-2 control-label">公司名称</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="companyid" value="{$list.cid}" />
                            <input id="key" placeholder="请填选承运公司名称" value="{$list.name}" name="name" minlength="2" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">承运属性</label>
                        <div class="col-sm-10">
                            <div class="col-sm-10">
                                <label class="radio-inline i-checks radio1">
                                    <input type="radio" name="state" value="0" {if condition="($list.driver_grade == 1)"} checked="" {/if} /> <i></i>个体
                                </label>
                                <label class="radio-inline i-checks radio1">
                                    <input type="radio" name="state" value="1" {if condition="($list.driver_grade == 2)"} checked="" {/if} /> <i></i>司机
                                </label>
                                <label class="radio-inline i-checks radio1">
                                    <input type="radio" name="state" value="2" {if condition="($list.driver_grade == 3)"} checked="" {/if} /> <i></i>调度
                                </label>
                                <label class="radio-inline i-checks radio1">
                                    <input type="radio" name="state" value="3" {if condition="($list.driver_grade == 4)"} checked="" {/if} /> <i></i>管理
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">真实姓名<span style="color:red"> *</span></label>
                        <div class="col-sm-10">
                            <input id="realname" name="realname" value="{$list.realname}" minlength="2" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input name="username" value="{$list.username}" minlength="2" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号<span style="color:red"> *</span></label>
                        <div class="col-sm-10">
                            <input id="mobile" name="mobile" maxlength="11" value="{$list.mobile}" type="text" class="form-control" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">身份号码</label>
                        <div class="col-sm-10">
                            <input name="identity" maxlength="18"  value="{$list.identity}" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">账户余额</label>
                        <div class="col-sm-10">
                            <input id="money" maxlength="10" name="balance"  value="{$list.balance}" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">驾驶证图片</label>
                        <div class="col-sm-10">
                            <img src="__ROOT__{$list.drivingimage}" width="100px" hieght="100px;" />
                            <img style="display:none" src="__ROOT__{$list.drivingimage}" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传驾驶证:</label>
                        <div class="col-sm-10">
                           <input type="file" name="drivingimage" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">驾驶证验证:</label>
                        <div class="col-sm-10">
                            <label class="radio-inline i-checks">
                                <input type="radio"  {if condition="($list.carstatus == 1)"}checked=""{/if} value="1" name="carstatus"> <i></i>未验证
                            </label>
                            <label class="radio-inline i-checks">
                                <input type="radio" {if condition="($list.carstatus == 2)"}checked=""{/if} value="2" name="carstatus"> <i></i>验证通过
                            </label>
                             <label class="radio-inline i-checks">
                                <input type="radio" {if condition="($list.carstatus == 3)"}checked=""{/if} value="3" name="carstatus"> <i></i>验证失败
                            </label>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline i-checks">
                                <input type="radio" {if condition="($list.sex == 2)"}checked=""{/if} value="2" name="sex"> <i></i>女
                            </label>
                            <label class="radio-inline i-checks">
                                <input type="radio" {if condition="($list.sex == 1)"}checked=""{/if} value="1" name="sex"> <i></i>男
                            </label>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">修改密码</label>
                        <div class="col-sm-10">
                             <input id="password" placeholder="请输入密码" name="password" value="" type="password" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                   
                   
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" value="{$list.drivid}" name="drivid" />
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

  

    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自动补全 -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>   
    <!-- jQuery Validation plugin javascript-->
    <script src="/static/tpl/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/tpl/js/plugins/validate/messages_zh.min.js"></script>
    <script src="/static/tpl/js/plugins/layer/layer.min.js"></script>
    <!-- iCheck -->
    <script src="/static/tpl/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            // 初始化 radio
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            // 承运公司自动补全
            $( "#key" ).autocomplete({
                source: "/admin/common/getcarriers",
                minLength: 1,
                autoFocus: true,
                select: function( event, ui ) { // 选择承运商
                    $('input[name="companyid"]').val(ui.item.id);
                }
            });
            // 添加手机号验证规则
            jQuery.validator.addMethod("isPhone", function(value, element) {
                var length = value.length;
                return this.optional(element) || (length == 11 && /^0?(13|14|15|16|17|18)[0-9]{9}$/.test(value));
            }, "请正确填写您的手机号码。");
            // 表单验证
            $("#commentForm").validate({
                errorElement : 'span',
                errorClass : 'help-block',
                rules : {
                    mobile : {
                        required : true,
                        isPhone : true
                    },
                },
                messages : {
                    mobile : {
                        required : "请输入手机号码"
                    }
                },
                //自定义错误消息放到哪里
                errorPlacement : function(error, element) {
                    element.next().remove();//删除显示图标
                    element.after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
                    element.closest('.form-group').append(error);//显示错误消息提示
                },
                //给未通过验证的元素进行处理
                highlight : function(element) {
                    $(element).closest('.form-group').addClass('has-error has-feedback');
                },
                //验证通过的处理
                success : function(label) {
                    var el=label.closest('.form-group').find("input");
                    el.next().remove();//与errorPlacement相似
                    el.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
                    label.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                    label.remove();
                },
            });
            // 图像放大
            $("body").on("click","img",function(){
                var _self = $(this).siblings("img");
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    area: ['100%', '100%'],
                    //skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    content: _self
                });
            });
        });
    </script>
</body>
</html>
