<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link href="/static/tpl/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/common/search.css"/>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title">
                <h5>货源发布订单列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-md-1">
                        <a href="/admin/source/sourcegood" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</a>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group date date-view-three" data-provide="datepicker">
                            <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <input class="form-control" type="text" id="starttime" value="" placeholder="搜索下单开始时间">
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <p class="form-control-static text-center">----</p>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group date date-view-three" data-provide="datepicker">
                            <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <input class="form-control" type="text" id="endtime" value="" placeholder="搜索下单结束时间">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control" type="text" id="provSelect1" value="" placeholder="请输入订单号码/下单人姓名/电话号码"/>
                            <span class="input-group-btn"> 
                                <button type="button" id="search" class="btn btn-primary">查询</button> 
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table" data-toggle="table" data-height="800">
                    <thead>
                        <tr>
                            <th class="text-left" data-sortable="true">订单号码</th>
                            <th class="text-left" data-sortable="true">下单时间</th>
                            <th class="text-left" data-sortable="true">订单线路</th>
                            <th class="text-left" data-sortable="true">联系信息</th>
                            <th class="text-left" data-sortable="true">货运信息</th>
                            <th class="text-left" data-sortable="true">详细信息</th>
                            <th class="text-left" data-sortable="true">查看人数</th>
                            <th class="text-left" data-sortable="true">订单状态</th>  
                            <th class="text-right">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td class="text-left">{$vo.ordernumber}</td>
                            <td class="text-left">{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                            <td class="text-left">{$vo.start_address} —— {$vo.end_address}</td>
                            <td class="text-left">{$vo.issue_realname}  ({$vo.issue_phone})</td>
                            <td class="text-left">{$vo.weight} {$vo.volume} {$vo.temperture} {$vo.carriage}</td>
                            <td class="text-left">{$vo.loaddate} {$vo.carparame} {$vo.good_type} {$vo.pick_remark} {$vo.freight_type} {$vo.freight_unit_price}</td>
                            <td class="text-left">{$vo.countlook}</td>
                            <td class="text-left">
                                {if condition="($vo.orderstate==1)"}
                                <span class="label label-danger">进行中</span>
                                {elseif condition="($vo.orderstate==2)" /}
                                <span class="label label-primary">已完成</span>
                                {elseif condition="($vo.orderstate==3)" /}
                                <span class="label label-info">已取消</span>
                                {elseif condition="($vo.orderstate==4)" /}
                                <span class="label label-info">已下架</span>
                                {/if}
                            </td>
                            <td class="text-right">
                                 <a href="/admin/source/gooddetail?id={$vo.id}" class="btn btn-info"><i class="fa fa-search"></i>详情</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
                {$page}
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <!-- bootstrap -->
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 日期插件 -->
    <script type="text/javascript" src="/static/tpl/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- 调用日期插件 -->
    <script type="text/javascript" src="/static/tpl/js/callDatepicker.js"></script>
    <!-- bootstrap table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <!-- bootstrap table 语言包 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // 查询
            $('#search').click(function(){
                var psel = document.getElementById("provSelect1");
                var endtime = document.getElementById("endtime").value;
                var starttime = document.getElementById("starttime").value;
                window.location.href='/admin/source/sourcegood?search='+psel.value+'&starttime='+starttime+'&endtime='+endtime;
            });
        });
    </script>
</body>
</html>
