<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title">
                <h5>分发优惠券</h5>     
            </div>           
            <div class="ibox-content">
                <form class="form-horizontal m-t" method="post" action="/admin/coupon/coupuser" id="commentForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择优惠卷<span style="color:red"> *</span></label>
                        <div class="col-sm-3">
                            <select class="form-control m-b" name="couid">
                                {volist name="$list" id="vo"}
                                <option value="{$vo.cou_id}">{$vo.content}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">输入用户号码<span style="color:red"> *</span></label>
                        <div class="col-sm-10">
                            <textarea rows="5"  cols="60" name="content"></textarea><b style="padding-left: 10px">(多用户请以英文逗号隔开)</b>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" value="add" name="action" />
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>
