<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link href="/static/tpl/css/plugins/footable/footable.core.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/common/search.css"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>员工列表</h5>
            <div class="ibox-tools">
                <a class="dropdown-toggle"  href="/admin/staff/toadd" style="color:#000">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>添加</span>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <a href="/admin/staff/index" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</a>
                </div>
                <div class="col-md-11">
                    <div class="input-group">
                        <input type="text" placeholder="请输入姓名" value="" id="provSelect1" class="form-control" />
                        <span class="input-group-btn">
                                <button type="button" id="search" class="btn btn-primary">查询</button>
                            </span>
                    </div>
                </div>
            </div>

            <table class="footable table table-stripped toggle-arrow-tiny">
                <thead>
                <tr>
                    <th class="text-left">工号</th>
                    <th class="text-left">用户名</th>
                    <th class="text-left">姓名</th>
                    <th class="text-left">性别</th>
                    <th class="text-left">职位</th>
                    <th class="text-left">联系电话</th>
                    <th class="text-left">微信号</th>
                    <th class="text-left">邮箱</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td class="text-left">{$vo.numbers}</td>
                    <td class="text-left">{$vo.username}</td>
                    <td class="text-left">{$vo.realname}</td>
                    <td class="text-left">
                        {eq name="vo.sex" value='2'} 女 {else/} 男 {/eq}
                    </td>
                    <td class="text-left">
                        {switch name="$vo.rolenumber"}
                        {case value="1"}{$vo.role}{/case}
                        {case value="2"}运营部-{$vo.role}{/case}
                        {case value="3"}市场部-{$vo.role}{/case}
                        {case value="4"}客服部-{$vo.role}{/case}
                        {case value="5"}技术部-{$vo.role}{/case}
                        {/switch}
                    </td>
                    <td class="text-left">{$vo.tel}</td>
                    <td class="text-left">{$vo.weixin}</td>
                    <td class="text-left">{$vo.email}</td>
                    <td class="text-center">
                        <a href="/admin/staff/todetail?id={$vo.aid}" class="btn btn-info">
                            <span class="glyphicon glyphicon-file"></span>
                            <span>详情</span>
                        </a>
                        <a href="/admin/staff/toupdate?id={$vo.aid}" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>修改</span>
                        </a>
                        <a data-ur="/admin/staff/delete?id={$vo.aid}" class="btn btn-danger confir">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span>删除</span>
                        </a>
                        {if condition='$vo.status==0'}
                        <a  onclick='updatestatus(1,"{$vo.aid}")' class="btn btn-danger ">
                            <span class="glyphicon glyphicon-scale"></span>
                            <span>禁用</span>
                        </a>
                        {else/}
                        <a  onclick='updatestatus(0,"{$vo.aid}")'  class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span>启用</span>
                        </a>
                        {/if}
                        <a  onclick='changestatus("{$vo.aid}")' title="授权" class="btn btn-danger">
                            <span class="glyphicon glyphicon-stop"></span>
                            <span>权限</span>
                        </a>


                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$page}
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/tpl/js/plugins/footable/footable.all.min.js"></script>
<script type="text/javascript" src="/static/tpl/js/plugins/layer/layer.min.js"></script>
<script>
    $(document).ready(function() {
        // 初始话表格
        $('.footable').footable();
        // 查询
        $('#search').click(function(){
            var psel = document.getElementById("provSelect1");
            window.location.href='/admin/staff/index?search='+psel.value;
        });
        // 删除
        $('.confir').click(function(){
            var ur = $(this).attr("data-ur");
            layer.confirm('删除后数据将无法找回，确定要执行该操作吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                window.location.href=ur;
            }, function(){

            });

        });
    });
    function updatestatus(status,id){
            console.log(status);
            console.log(id);
    }
    function changestatus(id){
        console.log(id);
    }
</script>
</body>
</html>
