<!DOCTYPE html>
<html lang="en">
    <head>
        {include file="public/header"}
    </head>
    <body class="gray-bg" >
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i> 返回 </a></h5>
                    <div class="ibox-tools">城配运输城市添加</div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" action="/admin/info/postrange" id="commentForm">
                        <div class="form-group selectAddress">
                            <label class="col-sm-2 control-label">城市</label>
                            <div class="col-sm-5">
                                <select  class="form-control m-b pro" name="tpro" id="tpro" required="" aria-required="true"></select>
                            </div>
                            <div class="col-sm-5">
                                <select  class="form-control m-b city" name="tcity" id="tcity" required="" aria-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <!-- bootstrap -->
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 地址三级联动 -->
    <script src="/static/tpl/js/common/select-address.js"></script>
</html>
