<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link href="/static/tpl/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/plugins/layer/layer.css">
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/common/search.css"/>
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/order_table.css" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title">
                <h5>客户未支付订单</h5>
            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-sm-1">
                        <a type="button" id="loading-example-btn" class="btn btn-white btn-sm" href="/admin/carloadorder/unorder"><i class="fa fa-refresh"></i> 刷新</a>
                    </div>
                   
                    <div class="col-sm-3">
                        <div class="input-group date date-view-three" data-provide="datepicker">
                            <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <input type="text" name="starttime" id="starttime" value="<?php echo isset($_GET['starttime'])?$_GET['starttime']:'' ?>" class="form-control" placeholder="搜索下单开始时间">
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <p class="form-control-static text-center">----</p>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group date date-view-three" data-provide="datepicker">
                            <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <input type="text" id="endtime" name="endtime" value="<?php echo isset($_GET['endtime'])?$_GET['endtime']:'' ?>" class="form-control" placeholder="搜索下单结束时间">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" placeholder="搜索号码/姓名" id="company" name="company" value="<?php echo isset($_GET['company'])?$_GET['company']:'' ?>" class=" form-control">
                            <span class="input-group-btn">
                                <input type="hidden" value="search" name="action">
                                <button type="button" id="search" class="btn btn-primary">查询</button> 
                            </span>
                        </div>
                    </div>
                </div>
            
                

                <table  class="table" data-toggle="table" data-height="800">
                     <thead>
                        <tr> 
                            <th class="td-input"></th> 
                            <th class="text-left" data-sortable="true">订单号码</th>
                            <th class="text-left" data-sortable="true" >公司名称</th>
                            <th class="text-left td-time-T" data-sortable="true" >下单时间</th>
                            <th class="text-left" data-sortable="true" >线路</th>
                            <th class="text-left td-adgost" data-sortable="true" >订单类型</th>
                            <th class="text-left td-carnum" data-sortable="true" >门店数</th>
                            <th class="text-left td-line" data-sortable="true" >重量(kg)/立方(m³)</th>
                            <th class="text-right td-unitprice" data-sortable="true" >提货费(元)</th>
                            <th class="text-right td-unitprice" data-sortable="true" >干线费(元)</th>
                            <th class="text-right td-unitprice" data-sortable="true" >配送费(元)</th>
                            <th class="text-right td-unitprice" data-sortable="true" >运费(元)</th>
                            <th class="text-right td-handle" >操作</th>
                        </tr>
                    </thead>
                    <tbody>
                       {volist name="list" id="vo"} 
                        <tr>
                            <td class="text-left">
                                <input type="checkbox" value="{$vo.oid}" class="i-checks check-list" name="oid">
                                <input type="hidden" value="{$vo.lineclient}" class="hid" name="comid">
                                <input  type="hidden" name="otype" class="otype" value="{$vo.ostate}"/>
                            </td>
                            <td class="text-left">{$vo.ordernumber}</td>
                            <td class="text-left">{$vo.name}</td>
                            <td class="text-left">{$vo.addtime|date="Y-m-d H:i",###}</td>
                            <td class="text-left">{$vo.line}</td>
                            <td class="text-left">{if condition="$vo.ostate==1"}零担{elseif condition="$vo.ostate==2"/}定制{elseif condition="$vo.ostate==3"}城配{else/}整车{/if}</td>
                            <td class="text-left">{$vo.doornum}</td>
                            <td class="text-left"><span class="weight">{$vo.totalweight}</span> / <span class="volume">{$vo.totalvolume}</span></td>
                            <td class="text-right"><span class="thPrice" data-tprice="{$vo.tprice}">{$vo.tprice|number_format=2}</span></td>
                            <td class="text-right"><span class="gxPrice" data-linepice="{$vo.linepice}">{$vo.linepice|number_format=2}</span></td>
                            <td class="text-right"><span class="psPrice" data-delivecost="{$vo.delivecost}">{$vo.delivecost|number_format=2}</span></td>
                            <td class="text-right">
                                <span class="newPrice" data-totalprice="{$vo.totalprice}">{$vo.totalprice|number_format=2}</span>
                                </span>
                            </td>
                            <td class="text-right">
                                {if condition="$vo.ostate==1"}
                                <a href="/admin/order/orderdetails?id={$vo.oid}" class="btn btn-info">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span>详情</span>
                                </a>
                                {elseif condition="$vo.ostate==2"/}
                                <a class="btn btn-sm btn-info" href="/admin/order/customlinedetail?id={$vo.oid}">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span>详情</span>
                                </a>
                                {elseif condition="$vo.ostate==3"}
                                <a class="btn btn-sm btn-info" href="/admin/cityorder/details?id={$vo.oid}">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span>详情</span>
                                </a>
                                {else/}
                                <a class="btn btn-sm btn-info" href="/admin/carloadorder/prodetails?id={$vo.oid}">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span>详情</span>
                                </a>
                                {/if}
                            </td>
                        </tr>
                       {/volist}
                    </tbody>
                    
                </table>
                {$page}
                <div class="row m-t-sm">
                    <div class="col-sm-3" style="padding-left: 23px;">
                        <input class="i-checks" id="allCheck" type="checkbox" />
                        <label for="allCheck">全选</label>
                    </div>
                    
                    <div class="col-sm-1 ">
                        <a class="btn btn-sm btn-primary"  id="del" href="javascript:;">删除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
<!-- 全局js -->
<script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
<!-- 日期插件 -->
<script type="text/javascript" src="/static/tpl/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- 调用日期插件 -->
<script type="text/javascript" src="/static/tpl/js/callDatepicker.js"></script>
<!-- bootstrap table -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<!-- bootstrap table 语言包 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
             // 全选
            $('#allCheck').change(function (argument) {
                if(this.checked){ // 全选
                    $('input[name="oid"]').prop("checked",true); 
                    gettotal();
                }else{ // 全不选
                    $('input[name="oid"]').prop("checked",false); 
                    gettotal(); 
                }
            });
         // 查询
            $('#search').click(function(){
                var company = document.getElementById("company").value;
                var endtime = document.getElementById("endtime").value;
                var starttime = document.getElementById("starttime").value;
                window.location.href='/admin/carloadorder/unorder?company='+company+'&starttime='+starttime+'&endtime='+endtime;
            });
            //删除订单
            $("#del").click(function(){
            var otype = new Array(); 
            var chk_value = new Array();
            var arrinvo = new Array();
            var length = $('input[name="oid"]:checked').length;
            //订单ID
            $('input[name="oid"]:checked').each(function(){
                chk_value.push($(this).val());//将选中的值添加到数组chk_value中
            });
            
            //获取订单下对账的类型
            for (var i = 0; i < length; i++) {
                var val = $('input[name="oid"]:checked').eq(i).parents("td").find(".otype").val();
                otype[i] = val;
            };
            
            $.post('/admin/carloadorder/delorder',{ajax:1,orderID:chk_value,ostate:otype},function(msg){
                    if (msg =="ok") {
                        location.reload();
                    }else if(msg == "fail"){
                        alert("操作有误!!!");
                        return false;
                    }
            });
        });
    });
</script>
