<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="上海，上海冷链，零担，整车，业务，赤途供应链，赤途APP，赤途冷链，赤途，chitu，物流，冷链，icold，供应链管理，承运商，承运端" />
		<meta name="description" content="以“移动互联网技术＋冷链运营技术”为基础，线上统一规划、线下协同运作，聚合温控资源，以区域配送为核心，云仓、零担班线和整车为侧翼的产品矩阵， 打造全程可视化、一站式稳定交付的温控管理平台。公司地址：上海市嘉定区金沙江西路1555弄慧创国际；热线电话：4009-206-101" />
		<link href="/static/tpl/css/Developing.css" rel="stylesheet" type="text/css" />
		<title>开发中</title>
	</head>
	<body>
		<div>
			<img src="/static/tpl/img/Developing.png" alt="加紧开发中~~" />
			<p>程序<span>猿</span> 正在加紧开发中~~~敬请期待 （  ^ __ ^ ） </p>
		</div>
	</body>
</html>
