{include file="public/header" /} 
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-sm-6">
        <!-- 托运货物分布图-->
        <div class="ibox ">
            <div class="ibox-title">
                <h5>承接订单数</h5>
            </div>
            <div class="ibox-content">
                <div class="pieChart" id="charttwo" style="height: 600px;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- 托运货物分布图-->
        <div class="ibox ">
            <div class="ibox-title">
                <h5>承接重量</h5>
            </div>
            <div class="ibox-content">
                <div class="pieChart" id="chartThree" style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>
</div>
    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/tpl/js/plugins/layer/layer.min.js"></script>
    <!-- Flot -->
    <script src="/static/tpl/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/tpl/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/tpl/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/tpl/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/tpl/js/plugins/echarts/echarts.min.js"></script>
    <!-- 自定义js -->
    <script src="/static/tpl/js/content.js"></script>
    <script src="/static/tpl/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/static/tpl/js/pieChart-pick.js"></script>
    
</body>

</html>
