<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="/static/tpl/css/plugins/iCheck/custom.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i> 返回 </a></h5>
                <div class="ibox-tools">客户修改</div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal m-t" method="post" action="/admin/user/upclient" id="commentForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">公司名称</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="companyid" value="{$list.companyid}" />
                            <input type="text" name="companyname" minlength="2" class="form-control companyname" value="{$list.companyname}" placeholder="个体用户不需要填公司名称" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input value="{$list.realname}" name="realname" minlength="2" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input  value="{$list.username}" name="username" minlength="2" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号<span style="color:red"> *</span></label>
                        <div class="col-sm-10">
                            <input id="phone" value="{$list.phone}" name="phone" maxlength="11" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-10">
                            <input id="idcard" name="idcard" value="{$list.idcard}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">余额</label>
                        <div class="col-sm-10">
                            <input id="money" name="money" value="{$list.money}" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户类型</label>
                        <div class="col-sm-10">
                            <label class="radio-inline i-checks">
                                <input type="radio" name="user_grade" {if condition="($list.user_grade == '1')"} checked="" {/if} value="1" > <i></i>管理
                            </label>
                            <label class="radio-inline i-checks">
                                <input type="radio" name="user_grade" {if condition="($list.user_grade == '2')"} checked="" {/if} value="2" > <i></i>业务
                            </label>
                            <label class="radio-inline i-checks">
                                <input type="radio" name="user_grade" {if condition="($list.user_grade == '3')"}  checked="" {/if} value="3"> <i></i>个体
                            </label>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline i-checks">
                                <input type="radio" name="sex" {if condition="($list.sex ==2)"} checked="" {/if} value="2" /> <i></i>女
                            </label>
                            <label class="radio-inline i-checks">
                                <input type="radio" name="sex" {if condition="($list.sex ==1)"} checked="" {/if} value="1" /> <i></i>男
                            </label>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">重置密码</label>

                        <div class="col-sm-10">
                             <input placeholder="请输入密码" name="password" value="" type="password" class="form-control" >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" value="{$list.uid}" name="uid" />
                            <button class="btn btn-primary" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>   
    </div>

    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- jQuery Validation plugin javascript-->
    <script src="/static/tpl/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/tpl/js/plugins/validate/messages_zh.min.js"></script>
    <!-- iCheck -->
    <script src="/static/tpl/js/plugins/iCheck/icheck.min.js"></script>
    <!-- 自动补全 -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script  type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            // 项目公司自动补全
            $( ".companyname" ).autocomplete({
                source: "/admin/common/getmanager",
                minLength: 1,
                autoFocus: true,
                select: function( event, ui ) { // 选择承运商
                    $('input[name="companyid"]').val(ui.item.id);
                }
            });
        });
    </script>

    
    

</body>

</html>
