<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"/}
    <style>

    </style>
</head>
<body class="gray-bg"  >
<div class="">
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="7" scope="col">零担订单统计</th>
        </tr>
        <tr class="text-c">
            <th>在线订单</th>
            <th>已完成订单</th>
            <th>无效订单</th>
            <th>总订单</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>总数</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>