{include file="public/header"}

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5> 
                            <span>用户组管理</span> 
                            <a href="/admin/setting/rulegroup"><i class="fa fa-refresh"></i></a>
                        </h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle"  href="javascript:;" onclick="add()" style="color:#000">
                                <i class="fa fa-wrench"></i> 添加用户组
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="clients-list">
                            
                            <div class="tab-content">
                                <h1 class="text-center">为<span style="color:red">{$group_data['title']}</span>分配权限</h1>
                                <form action="/admin/setting/post_rule_group" method="post">
                                    <input type="hidden" name="id" value="{$group_data['id']}">
                                    <table class="table table-striped table-bordered table-hover table-condensed ">
                                    {foreach name="rule_data" item="v"}
                                    {empty name="v['_data']"}
                                    <tr class="b-group">
                                        <th width="10%">
                                            <label>{$v['title']} <input type="checkbox" name="rule_ids[]" value="{$v['id']}" {if condition="in_array($v['id'],$group_data['rules'])"} checked="checked"{/if} onclick="checkAll(this)" ></label>
                                        </th>
                                        <td>
                                        </td>
                                    </tr>
                                    {else/}
                                    <tr class="b-group">
                                        <th width="10%">
                                            <label>{$v['title']} <input type="checkbox" name="rule_ids[]" value="{$v['id']}" {if condition="in_array($v['id'],$group_data['rules'])"} checked="checked"{/if} onclick="checkAll(this)"></label>
                                        </th>
                                        <td class="b-child">
                                            {foreach name="v['_data']" item="n"}
                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                            <tr class="b-group">
                                                <th width="10%">
                                                    <label>{$n['title']} <input type="checkbox" name="rule_ids[]" value="{$n['id']}" {if condition="in_array($n['id'],$group_data['rules'])"} checked="checked"{/if} onclick="checkAll(this)"></label>
                                                </th>
                                                <td>
                                                    {notempty name="n['_data']"}
                                                        {volist name="n['_data']" id="c"}
                                                        <label>&emsp;{$c['title']} <input type="checkbox" name="rule_ids[]" value="{$c['id']}" {if condition="in_array($c['id'],$group_data['rules'])"} checked="checked"{/if} ></label>
                                                        {notempty name="c['_data']"}
                                                        {volist name="c['_data']" id="t"}
                                                             <label>&emsp;{$t['title']} <input type="checkbox" name="rule_ids[]" value="{$t['id']}" {if condition="in_array($t['id'],$group_data['rules'])"} checked="checked"{/if} ></label>
                                                        {/volist}
                                                         {/notempty}
                                                        {/volist}
                                                    {/notempty}
                                                </td>
                                            </tr>
                                            </table>
                                            {/foreach}
                                        </td>
                                    </tr>
                                    {/empty}
                                    {/foreach}
                                    <tr>
                                        <th>
                                        </th>
                                        <td>
                                            <input class="btn btn-success" type="submit" value="提交">
                                        </td>
                                    </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    
    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>

    <script src="/static/tpl/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- 自定义js -->
    <script src="/static/tpl/js/content.js?v=1.0.0"></script>
    <script src="/static/tpl/js/plugins/layer/layer.min.js"></script>
   <script>
    function checkAll(obj){
        $(obj).parents('.b-group').eq(0).find("input[type='checkbox']").prop('checked', $(obj).prop('checked'));
    }
    </script>

   
    

</body>

</html>
