{include file="public/header"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                         <div class="ibox-title">
                            <h5>短信队列列表</h5>
                            <div class="ibox-tools">
                                
                               <a onClick="javascript :history.back(-1);" class="#"  href="/admin/coupon/addcou" style="color:#000">
                                    <i class="fa fa-wrench" ></i>
                                    返回
                                </a>
                            </div>
                            
                        </div>
                        
                        <div class="ibox-content">
                            <div class="row m-b-sm m-t-sm">
                                <!--<div class="col-md-1">
                                    <a href="/admin/setting/messindex" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</a>
                                </div>
                                <div class="col-md-11">
                                    <div class="input-group">
                                         <input type="text" value="" placeholder="请输入城市名称" id="provSelect1" class="input-sm form-control"> <span class="input-group-btn">
                                        <a href="javascript:sousuo();" class="btn btn-sm btn-primary"> 查询</a> </span>
                                    </div>
                                </div>-->
                            </div>
                             
                            <table class="footable table table-stripped " data-page-size="8" style="font-size: 14px">
                                 
                                 <thead>
                                    <tr>
                                        <th ></th>
                                        <th >ID</th>
                                        <th class="text-center">接收人</th>
                                        <th class="text-center">短信内容</th>
                                        <th class="text-center">发送时间</th>
                                        <th class="text-center">短信类型</th>
                                        <th class="text-center">发送方式</th>
                                       
                                         <th class="text-center">结果</th>
                                        
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                  
                                    <tr>
                                        {volist name="list" id="vo"}
                                        <td ><input type="checkbox" value="{$vo.id}" class="i-checks check-list" name="id"></td> 
                                        <td>{$vo.id}</td>
                                        <td class="text-center">{$vo.send_phone}</td>
                                        <td class="text-center">{$vo.send_message}</td>
                                        <td class="text-center">{$vo.send_date|date='Y-m-d H:i:s',###}</td>
                                        <td class="text-center">{if condition="($vo.mess_type ==1)"}普通推广{else/}节日问候{/if}</td>
                                        <td class="text-center">{if condition="($vo.send_type ==1)"}所有人{else/}自定义{/if}</td>
                                        
                                       <td class="text-center">{$vo.send_state}</td>
                                        <td class="text-center">
                                           
                                           
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">操作 <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                   
                                                    <li><a href="/admin/setting/send?id={$vo.id}" >发送</a></li>
                                                    <li><a href="/admin/setting/del?del=2&id={$vo.id}" >删除</a></li>
                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
                                   {/volist}
                                   
                                
                                <tfoot>
                               <tr>
                                    <td >
                                        <input class="i-checks" id="allCheck" type="checkbox" />
                                        <label for="allCheck">全选</label>
                                    </td>
                                  <td>
                                    <a class="btn btn-sm btn-primary" id="del" href="javascript:;">删除</a>
                                </td> 
                                </tr>
                                </tfoot>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/tpl/js/plugins/footable/footable.all.min.js"></script>
    <script src="/static/tpl/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/static/tpl/js/calliCheck.js"></script>
    <script type="text/javascript" src="/static/tpl/js/reconciliation.js"></script>
    <!-- 自定义js -->
    <script src="/static/tpl/js/content.js?v=1.0.0"></script>
    <script type="text/javascript">
    $(document).ready(function () {
             $("#del").click(function(){
                    var chk_value = new Array();
                    var length = $('input[name="id"]:checked').length;
                     $('input[name="id"]:checked').each(function(){
                            chk_value.push($(this).val());//将选中的值添加到数组chk_value中
                    });
                     
                     $.get('/admin/setting/del',{del:'3',id:chk_value},function(msg){
                            if (msg =="ok") {
                                 window.location.reload(); 
                            }else if(msg == "fail"){
                                alert("操作有误!!!");
                                return false;
                            }
                    });

            });
        })
    </script>



</body>

</html>
