<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <style type="text/css">.btn{width: 100%;}</style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 scaleWrop" data-type="{$res.cost_id}">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <a href="javascript:history.back(-1);"><span class="glyphicon glyphicon-chevron-left"><b>返回</b></span></a>
                    </h5>
                    <div class="ibox-tools">修改开通城市</div>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info" aria-label="Bold">城市名</button>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="text" disabled value="{$res.name}" placeholder="" />
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info" aria-label="Bold">每小时价格</button>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="number"  value="{$res.scale_hour}" placeholder="" />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary pull-right update" data-index="2">修改</button>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info" aria-label="Bold">起步价系数</button>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="number"  value="{$res.start_fare}" placeholder=""  />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary pull-right update" data-index="3">修改</button>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info" aria-label="Bold">起步价包含公里数</button>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="number"  value="{$res.scale_klio}" placeholder=""  />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary pull-right update" data-index="5">修改</button>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-info" aria-label="Bold">单公里价格系数</button>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control input-sm" type="number"  value="{$res.scale_price}" placeholder=""  />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary pull-right update" data-index="4">修改</button>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                </div>

            </div>
        </div>
        <!-- 整车费用系数设置 end -->
    </div>
</div>
<!-- 全局js -->
<script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/tpl/js/plugins/layer/layer.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /**
         * 更新费用配置
         * @param  {Object} data 提交参数
         * @return {[type]}      [description]
         */
        function update(data) {
            // 设置loading
            var loadding = layer.load();


            $.ajax({
                url: '/admin/setting/savecity',
                type: 'POST',
                dataType: 'json',
                data: data,
            })
                .done(function(response) {
                    console.log(response);
                    if(response){
                        layer.msg('设置成功');
                    }else{
                        layer.msg('设置失败');
                    }
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    // 关闭loading
                    layer.close(loadding);
                });
        }
        // 点击更新数据
        $('.update').click(function (argument) {
            var type = $(this).parents('.scaleWrop').attr('data-type');
            console.log(type);
            // 修改类型 1单条信息查看费用 2充值金额 3充值金额查看数量 4包年充值金额
            var index = $(this).attr('data-index');


            // 修改类型的值
            var value = $(this).parent().parent().find('input').val();
            // 提交参数
            var data = {
                type : type,
                scaleType:index,
                updateVal: value
            };
            // 如果小于最小值或者大于最大值
            if(value < 0) return false;
            // 更新数据
            console.log(data);
            update(data);
        });
    });
</script>
</body>
</html>
