<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/plugins/layer/layer.css">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="commentForm" method="post" action="/admin/customline/update_carr">
                            <input type="hidden" name="cid" value="{$list.cid}" />
                            <input type="hidden" name="id" value="{$list.id}" />    
                            <div class="hr-line-dashed" style="border-top: 1px dashed red;"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">指派承运商<span style="color:red"> *</span></label>
                                <div class="col-sm-10">
                                    <input class="form-control carrierName" value="{$list.carr_company}" type="text" name="carrier" required/>
                                    <input type="hidden" value="{$list.carrierid}" name="carrierid" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">车型</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="carid" >
                                        <option {if condition="strpos($list.carid,'0') !== false"} selected="selected" {/if} value="">---请选择---</option>
                                        <option {if condition="strpos($list.carid,'9') !== false"} selected="selected" {/if} value="9">依维柯</option>
                                        <option {if condition="strpos($list.carid,'1') !== false"} selected="selected" {/if} value="1">4.2米冷藏厢车</option>
                                        <option {if condition="strpos($list.carid,'2') !== false"} selected="selected" {/if} value="2">5.2米冷藏厢车</option>
                                        <option {if condition="strpos($list.carid,'3') !== false"} selected="selected" {/if} value="3">7.6米冷藏厢车</option>
                                        <option {if condition="strpos($list.carid,'4') !== false"} selected="selected" {/if} value="4">9.6米冷藏厢车(前四后四)</option>
                                        <option {if condition="strpos($list.carid,'5') !== false"} selected="selected" {/if} value="5">9.6米冷藏厢车(前四后八)</option>
                                        <option {if condition="strpos($list.carid,'6') !== false"} selected="selected" {/if} value="6">12.5米冷藏厢车</option>
                                        <option {if condition="strpos($list.carid,'7') !== false"} selected="selected" {/if} value="7">15米冷藏厢车</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">承运商基础运费（元/车）<span style="color:red"> *</span></label>
                                <div class="col-sm-10">
                                    <input  class="form-control" name="carr_price" value="{$list.carr_price}" type="text" placeholder="承运商基础运费（元/车）" required/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">承运商超配门店运价（元/门店）<span style="color:red"> *</span></label>
                                <div class="col-sm-10">
                                    <input  class="form-control" name="carr_moredoor" value="{$list.carr_moredoor}" type="text" placeholder="承运商超配门店运价（元/门店）" required/>
                                </div>
                            </div>
                            {if condition="isset($list.trans_mess)"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">已指派司机</label>
                                <div class="col-sm-10">
                                
                                    {volist name="list.trans_mess" id="vo" key ="k"}
                                        <div id='driverinfos{$k}'>
                                            <div class='col-sm-10 show-hugh' style="padding-left: 0">
                                                <input disabled='disabled' value='{$vo.driver_name}( {$vo.driver_phone} ) {$vo.car_number}'  class="form-control" type='text'>
                                                <input type="hidden" name="driverinfos[{$k}][driverid]" value='{$vo.driver_id}' >
                                                <input type="hidden" name="driverinfos[{$k}][carid]" value='{$vo.car_id}' >
                                            </div>
                                            <div class='col-sm-2 show-hugh'>
                                                <button data-toggle='dropdown' value='{$k}' class='btn btn-default pull-right dropdown-toggle' onclick='updriver({$k})' aria-expanded='false'>删除</button>
                                            </div>
                                        </div>
                                       
                                    {/volist}
                                </div>     
                            </div>
                            {/if}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">运输联系人</label>
                                <div class="col-sm-10 info">
                                    <div class="row info-item">
                                        <div class="col-sm-5">
                                            <select  class="form-control m-b driverName" name="carmess[0][driverid]"></select>
                                        </div>
                                        <div class="col-sm-5">
                                            <select  class="form-control m-b carnum" name="carmess[0][carid]"></select>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-primary addInfo">添加</button>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input type="hidden" name="action" value="add">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script type="text/javascript" src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <!-- bootstarp -->
    <script type="text/javascript" src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 遮罩提示 -->
    <script type="text/javascript" src="/static/tpl/js/plugins/layer/layer.min.js"></script>
    <!-- jQuery Validation plugin javascript -->
    <script src="/static/tpl/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/tpl/js/plugins/validate/messages_zh.min.js"></script>
    <!-- 自动补全 -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>        

    <script src="/static/tpl/js/ajaxUtil.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var element = ''; //
            var drivercompanyid = '<?php echo $list['carrierid']; ?>'; // 承运商公司
            var driverlist = null; // 承运商的司机列表
            var carlist = null; // 承运商的车辆列表
            // var carr_comid =  '<?php echo $list['carrierid']; ?>';//承运商公司的ID
           
            /**
             * 根据承运公司id获取下面的司机和车牌
             * @param  {number} companyid 承运公司id
             * @return {[type]}           [description]
             */
            function getDriveData(companyid,callback) {
                $.ajax({
                    url: '/admin/customline/search_driver',
                    type: 'POST',
                    dataType: 'json',
                    data: {companyid: companyid},
                })
                .done(function(response) {
                    driverlist = response.driverlist;
                    carlist = response.carlist;
                    callback();
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                
            }
            /**
             * @description: 输出承运公司的司机
             * @param ele 要追加的dom
             */
            function addDriverName(ele,data) {
                var driverStr = '<option value="">---请选择---</option>';
                for (var i = 0; i < data.length; i++) {
                    driverStr += '<option value="'+ data[i].id +'">'+ data[i].name +'</option>';    
                }
                ele.html(driverStr);
            }
            /**
             * @description: 输出承运公司的车牌
             * @param ele 要追加的dom
             */
            function addCarnum(ele,data) {
                var driverStr = '<option value="">---请选择---</option>';
                for (var i = 0; i < data.length; i++) {
                    driverStr += '<option value="'+ data[i].ccid +'">'+ data[i].carnumber +'</option>'; 
                }
                ele.html(driverStr);
            }
            // 页面加载调用初始化司机和车牌
            
            getDriveData(drivercompanyid,function() {
                var str = '<div class="row info-item">'
                        +'<div class="col-sm-5">'
                        +'<select  class="form-control m-b driverName" name="carmess[0][driverid]"></select>'
                        +'</div>'
                        +'<div class="col-sm-5">'
                        +'<select  class="form-control m-b carnum" name="carmess[0][carid]"></select>'
                        +'</div>'
                        +'<div class="col-sm-2">'
                        +'<button type="button" class="btn btn-primary addInfo">添加</button>'
                        +'</div>'
                        +'</div>';
                $( ".carrierName" ).parents('.form-horizontal').find('.info').html(str);
                $( ".carrierName" ).parents('.form-horizontal').find('select[name="carid"]').val('');
                // 初始化司机
                var driverEle = $( ".carrierName" ).parents('.form-horizontal').find('.driverName');
                addDriverName(driverEle,driverlist);

                // 初始化化车牌
                var carEle = $( ".carrierName" ).parents('.form-horizontal').find('.carnum');
                addCarnum(carEle,carlist);
            });
            // 承运公司自动补全
            $( ".carrierName" ).autocomplete({
                source: "/admin/common/getcarriers",
                minLength: 1,
                autoFocus: true,
                select: function( event, ui ) { // 选择承运商
                    drivercompanyid = ui.item.id;
                    $('input[name="carrierid"]').val(drivercompanyid);
                    getDriveData(drivercompanyid,function() {
                        var str = '<div class="row info-item">'
                                +'<div class="col-sm-5">'
                                +'<select  class="form-control m-b driverName" name="carmess[0][driverid]"></select>'
                                +'</div>'
                                +'<div class="col-sm-5">'
                                +'<select  class="form-control m-b carnum" name="carmess[0][carid]"></select>'
                                +'</div>'
                                +'<div class="col-sm-2">'
                                +'<button type="button" class="btn btn-primary addInfo">添加</button>'
                                +'</div>'
                                +'</div>';
                        $( ".carrierName" ).parents('.form-horizontal').find('.info').html(str);
                        $( ".carrierName" ).parents('.form-horizontal').find('select[name="carid"]').val('');
                        // 初始化司机
                        var driverEle = $( ".carrierName" ).parents('.form-horizontal').find('.driverName');
                        addDriverName(driverEle,driverlist);

                        // 初始化化车牌
                        var carEle = $( ".carrierName" ).parents('.form-horizontal').find('.carnum');
                        addCarnum(carEle,carlist);
                    });
                }
            });
            // 添加运输人信息
            $('body').on('click','.addInfo',function(){
                var info = $(this).parents('.info');
                var len = info.find('.info-item').length;
                var str = '<div class="row m-b info-item">'
                        + '<div class="col-sm-5">'
                        + '<select  class="form-control m-b driverName" name="carmess['+ len +'][driverid]"></select>'                  
                        + '</div>'
                        + '<div class="col-sm-5">'
                        + '<select  class="form-control m-b carnum" name="carmess['+ len +'][carid]"></select>'                                     
                        + '</div>'                                          
                        + '<div class="col-sm-2">'                
                        + '<button type="button" class="btn btn-primary removeInfo">删除</button>'                                        
                        + '</div>'                                          
                        + '</div>';
                $(this).parents('.info').append(str);
                var index = $('.info-item').length-1;
                var driverstr = info.eq(0).find('.driverName').html();
                var carstr = info.eq(0).find('.carnum').html();

                var driverEle = $('.info-item').eq(index).find('.driverName').html(driverstr);
                var carEle = $('.info-item').eq(index).find('.carnum').html(carstr);
            });
            // 移除运输人信息
            $('body').on('click','.removeInfo',function(){
                $(this).parents('.info-item').remove();
            });
            
           
            // 车型改变
            $('body').on('change','select[name="carid"]',function(argument) {
                var carid = $(this).val();
                var self = $(this);
                $.ajax({
                    url: '/admin/common/getcarrierscarnum',
                    type: 'POST',
                    dataType: 'json',
                    data: {companyid: drivercompanyid,carid:carid},
                })
                .done(function(data) {
                    console.log(data.length);
                     // 初始化化车牌
                    var carEle = self.parents('.form-horizontal').find('.carnum');
                    addCarnum(carEle,data);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
            });
            // 定制线路表单必填、验证
            $("#commentForm").validate({
                // 数据提交
                submitHandler:function(form){
                    $.ajax({
                        url: '/admin/customline/update_carr',
                        type: 'POST',
                        dataType: 'json',
                        data: $('#commentForm').serialize(),
                    })
                    .done(function(response) {
                        console.log(typeof response);
                        console.log(response.code);
                        if(response.code){ // 提交成功
                            layer.msg(response.message);
                            //parent.layer.close(index);
                            parent.location.reload();
                            //window.history.back(-1);
                        }else{ // 提交失败
                            layer.msg(response.message);
                        }
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });
                } 
            });
        });
    </script>
   
    <script type="text/javascript">
           
            function updriver(id){
                var num = $("input:text[id=driverinfos" + id + "]").length + 1;
                for (iii = 0; iii < num; iii++) {
                    $("#driverinfos" + id).remove();
                }
            }
    </script>

    
</body>
</html>
