<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/plugins/layer/layer.css">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i> 返回 </a></h5>
                        <div class="ibox-tools">添加定制线路</div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="commentForm" method="post" action="/admin/customline/addmessage">
							<input type="hidden" name="cid" value="{$list.id}" />	
                            <input type="hidden" name="carrierid" />
	
                            <div class="form-group selectAddress">
                                <label class="col-sm-2 control-label">始发地</label>
                                <div class="col-sm-3">
                                    <select  class="form-control pro" name="tpro"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select  class="form-control city" name="tcity"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select  class="form-control area" name="tarea"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group selectAddress">
                                <label class="col-sm-2 control-label">终点地</label>
                                <div class="col-sm-3">
                                    <select  class="form-control pro" name="ppro"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select  class="form-control city" name="pcity"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select  class="form-control area" name="parea"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        	<div class="form-group">
                                <label class="col-sm-2 control-label">提货点地址</label>
                                <div class="col-sm-10 addresslist">
                                	<div class="row addresslist-item selectAddress">
	                                	<div class="col-sm-3">
		                                    <select  class="form-control m-b pro" name="pickinfo[0][province]"></select>
		                                </div>
		                                <div class="col-sm-3">
		                                    <select  class="form-control m-b city" name="pickinfo[0][city]"></select>
		                                </div>
		                                <div class="col-sm-3">
		                                    <select  class="form-control m-b area" name="pickinfo[0][area]"></select>
		                                </div>
		                                <div class="col-sm-2">
		                                	<input class="form-control" name="pickinfo[0][address]" type="text" placeholder="详细地址" />
		                                </div>
		                                <div class="col-sm-1">
		                                    <button type="button" class="btn btn-primary addAddress">添加</button>
		                                </div>	
	                                </div>
                                </div>
                                
                            </div>
                            <div class="hr-line-dashed"></div>
							
							<div class="form-group">
	                            <label class="col-sm-2 control-label">物品类别</label>
	                            <div class="col-sm-10">
	                                <input type="text" class="form-control" name="goodname"  placeholder="物品名称">
	                            </div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
							
							<div class="form-group">
	                            <label class="col-sm-2 control-label">类别</label>
	                            <div class="col-sm-10">
	                                <select class="form-control" name="temperature" >
	                                	<option value="冷冻 ( -15℃ ~ -8℃' )">冷冻 ( -15℃ ~ -8℃' )</option>
	                                	<option value="冷藏 ( 2℃ ~ 8℃ )">冷藏 ( 2℃ ~ 8℃ )</option>
	                                	<option value="恒温 ( 12℃ ~ 18℃ )">恒温 ( 12℃ ~ 18℃ )</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">基础运费 (元/车)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="carprice"  placeholder="基础运费 (元/车)">
                                </div>
                            </div>
	                       
	                        <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">超配门店运价 (元/门店)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="moredoor"  placeholder="超配门店运价 (元/门店)">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">合同门店数(个)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="appoint_door"  placeholder="合同门店数(个)">
                                </div>
                            </div>
	                        <div class="hr-line-dashed"></div>

	                        <div class="form-group">
	                            <label class="col-sm-2 control-label">APP备注</label>
	                            <div class="col-sm-10">
	                                <input type="text" class="form-control" name="remark"  placeholder="备注">
	                            </div>
	                        </div>
	                        <div class="hr-line-dashed"></div>
	                         <div class="form-group">
                                <label class="col-sm-2 control-label">后台备注</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="pcremark" value="" placeholder="备注">
                                </div>
                            </div>
                            <div class="hr-line-dashed" style="border-top: 1px dashed red;"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">指派承运商<span style="color:red"> *</span></label>
                                <div class="col-sm-10">
                                	<input class="form-control carrierName" type="text" name="carrier" required/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">车型</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="carid" >
                                        <option value="">---请选择---</option>
                                        <option value="9">依维柯</option>
                                        <option value="1">4.2米冷藏厢车</option>
                                        <option value="2">5.2米冷藏厢车</option>
                                        <option value="3">7.6米冷藏厢车</option>
                                        <option value="4">9.6米冷藏厢车(前四后四)</option>
                                        <option value="5">9.6米冷藏厢车(前四后八)</option>
                                        <option value="6">12.5米冷藏厢车</option>
                                        <option value="7">15米冷藏厢车</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">承运商基础运费(元/车)<span style="color:red"> *</span></label>
                                <div class="col-sm-10">
                                    <input  class="form-control" name="carr_price" type="text" placeholder="承运商基础运费（元/车）" required/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">承运商超配门店运价(元/门店)<span style="color:red"> *</span></label>
                                <div class="col-sm-10">
                                    <input  class="form-control" name="carr_moredoor" type="text" placeholder="承运商超配门店运价（元/门店）" required/>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">司机</label>
                                <div class="col-sm-10 info">
                                	<div class="row info-item">
	                                	<div class="col-sm-5">
		                                    <select  class="form-control m-b driverName" name="carmess[0][driverid]"></select>
		                                </div>
		                                <div class="col-sm-5">
		                                    <select  class="form-control m-b carnum" name="carmess[0][carid]"></select>
		                                </div>
		                                <div class="col-sm-2">
		                                    <button type="button" class="btn btn-primary addInfo">添加</button>
		                                </div>	
	                                </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input type="hidden" name="action" value="add">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script type="text/javascript" src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
	<!-- bootstarp -->
    <script type="text/javascript" src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 遮罩提示 -->
    <script type="text/javascript" src="/static/tpl/js/plugins/layer/layer.min.js"></script>
    <!-- jQuery Validation plugin javascript -->
    <script src="/static/tpl/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/static/tpl/js/plugins/validate/messages_zh.min.js"></script>
	<!-- 自动补全 -->
 	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>		
    <script type="text/javascript">
        $(document).ready(function () {
        	var element = ''; //
        	var drivercompanyid = null; // 承运商公司
        	var driverlist = null; // 承运商的司机列表
        	var carlist = null; // 承运商的车辆列表
        	/**
	         * @description:  定义函数，获取数据库的省份数据  
	         * @param index {string} 父级索引
	         * @param element {string} 数据展示的class
	         */
	        function getData(index,ele){
	        	element = ele;
                // 每次往select节点写入option前先将原有的option节点清掉
                ele.html('');
                // 定义url  
                var url = "/admin/common/getaddress";
                // 定义参数  
                var data={id:index};  
                // 调用ajax 进行交互  
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                })
                .done(function(response) {
                    updataEle(response);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });   
	        }
	        function updataEle(xhr){
	        	//将服务器端返回的jason格式的字符串转化为对象  
	            var obj = xhr; 

	            var options = '<option value="0">----请选择----</option>';

	            //在此将jason数组对象的下表为id的作为option的value值，将下表为name的值作为文本节点追加给  
	            for(var i=0;i<obj.length;i++){  
	            	options += '<option value="'+obj[i].id+'">'+obj[i].name+'</option>';
	            }  

	            element.html(options);
	        }
            // 页面加载调用初始化省
            getData(0,$('.pro'));
            // 省份改变
            $('body').on('change','.pro',function(){
                var id = $(this).val();
                element = $(this).parents('.selectAddress').find('.city');
                getData(id,element);
            });
            // 城市改变
            $('body').on('change','.city',function(){
                var id = $(this).val();
                element = $(this).parents('.selectAddress').find('.area');
                getData(id,element);
            });
	        /**
	         * 根据承运公司id获取下面的司机和车牌
	         * @param  {number} companyid 承运公司id
	         * @return {[type]}           [description]
	         */
	        function getDriveData(companyid,callback) {
	        	$.ajax({
	        		url: '/admin/customline/search_driver',
	        		type: 'POST',
	        		dataType: 'json',
	        		data: {companyid: companyid},
	        	})
	        	.done(function(response) {
	        		driverlist = response.driverlist;
	        		carlist = response.carlist;
	        		callback();
	        	})
	        	.fail(function() {
	        		console.log("error");
	        	})
	        	.always(function() {
	        		console.log("complete");
	        	});
	        	
	        }
	        /**
	         * @description: 输出承运公司的司机
	         * @param ele 要追加的dom
	         */
	        function addDriverName(ele,data) {
	        	var driverStr = '<option value="">---请选择---</option>';
	        	for (var i = 0; i < data.length; i++) {
    				driverStr += '<option value="'+ data[i].id +'">'+ data[i].name +'</option>';	
    			}
    			ele.html(driverStr);
	        }
	        /**
	         * @description: 输出承运公司的车牌
	         * @param ele 要追加的dom
	         */
	        function addCarnum(ele,data) {
	        	var driverStr = '<option value="">---请选择---</option>';
	        	for (var i = 0; i < data.length; i++) {
    				driverStr += '<option value="'+ data[i].ccid +'">'+ data[i].carnumber +'</option>';	
    			}
    			ele.html(driverStr);
	        }
	        
	        // 承运公司自动补全
	        $( ".carrierName" ).autocomplete({
                source: "/admin/common/getcarriers",
                minLength: 1,
                autoFocus: true,
                select: function( event, ui ) { // 选择承运商
                	drivercompanyid = ui.item.id;
                	$('input[name="carrierid"]').val(drivercompanyid);
                	getDriveData(drivercompanyid,function() {
			        	var str = '<div class="row info-item">'
			                    +'<div class="col-sm-5">'
		                        +'<select  class="form-control m-b driverName" name="carmess[0][driverid]"></select>'
		                        +'</div>'
		                        +'<div class="col-sm-5">'
		                        +'<select  class="form-control m-b carnum" name="carmess[0][carid]"></select>'
		                        +'</div>'
		                        +'<div class="col-sm-2">'
		                        +'<button type="button" class="btn btn-primary addInfo">添加</button>'
		                        +'</div>'
		                    	+'</div>';
			        	$( ".carrierName" ).parents('.form-horizontal').find('.info').html(str);
			        	$( ".carrierName" ).parents('.form-horizontal').find('select[name="carid"]').val('');
			        	// 初始化司机
					    var driverEle = $( ".carrierName" ).parents('.form-horizontal').find('.driverName');
					    addDriverName(driverEle,driverlist);

					    // 初始化化车牌
					    var carEle = $( ".carrierName" ).parents('.form-horizontal').find('.carnum');
					    addCarnum(carEle,carlist);
                	});
                }
            });
	        // 添加运输人信息
            $('body').on('click','.addInfo',function(){
            	var info = $(this).parents('.info');
            	var len = info.find('.info-item').length;
            	var str = '<div class="row m-b info-item">'
	                    + '<div class="col-sm-5">'
		                + '<select  class="form-control m-b driverName" name="carmess['+ len +'][driverid]"></select>'                  
		                + '</div>'
		                + '<div class="col-sm-5">'
						+ '<select  class="form-control m-b carnum" name="carmess['+ len +'][carid]"></select>'		                                
						+ '</div>'		                                    
		                + '<div class="col-sm-2">'                
						+ '<button type="button" class="btn btn-primary removeInfo">删除</button>'		                                
						+ '</div>'		                                    
		                + '</div>';
		        $(this).parents('.info').append(str);
		        var index = $('.info-item').length-1;
		        var driverstr = info.eq(0).find('.driverName').html();
		        var carstr = info.eq(0).find('.carnum').html();

		        var driverEle = $('.info-item').eq(index).find('.driverName').html(driverstr);
        		var carEle = $('.info-item').eq(index).find('.carnum').html(carstr);
            });
            // 移除运输人信息
            $('body').on('click','.removeInfo',function(){
            	$(this).parents('.info-item').remove();
            });
	        // 添加提货地址
            $('body').on('click','.addAddress',function(){
            	var len = $('.addresslist-item').length;
            	var str = '<div class="row addresslist-item selectAddress">'
            			+ '<div class="col-sm-3"><select class="form-control m-b pro"  name="pickinfo['+len+'][province]" ></select></div>'
            			+ '<div class="col-sm-3"><select class="form-control m-b city" name="pickinfo['+len+'][city]" ></select></div>'
            			+ '<div class="col-sm-3"><select class="form-control m-b area" name="pickinfo['+len+'][area]" ></select></div>'
            			+ '<div class="col-sm-2"><input class="form-control" name="pickinfo['+len+'][address]" type="text" placeholder="详细地址" /></div>'
            			+ '<div class="col-sm-1"><button type="button" class="btn btn-primary removeAddress">删除</button></div>'
            			+ '</div>';
            	$(this).parents('.addresslist').append(str);
            	var el = $(this).parents('.addresslist').find('.pro').last();
            	getData(0,el);
            });
            // 移除提货地址
            $('body').on('click','.removeAddress',function(){
            	$(this).parents('.addresslist-item').remove();
            });
            // 车型改变
            $('body').on('change','select[name="carid"]',function(argument) {
                var carid = $(this).val();
                var self = $(this);
                $.ajax({
                    url: '/admin/common/getcarrierscarnum',
                    type: 'POST',
                    dataType: 'json',
                    data: {companyid: drivercompanyid,carid:carid},
                })
                .done(function(data) {
                    console.log(data.length);
                     // 初始化化车牌
                    var carEle = self.parents('.form-horizontal').find('.carnum');
                    addCarnum(carEle,data);
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
            });
            // 定制线路表单必填、验证
            $("#commentForm").validate({
                errorElement : 'span',
                errorClass : 'help-block',       
                rules : {
                    ShiftNumber : {
                        required : true,
                        remote : {
                            type:"post",
                            url:"/admin/shift/checknumber",
                            data:{
                                name:function(){
                                    return $("#ShiftNumber").val();
                                }
                            }
                        }
                    }
 
                },
                messages : {
                   
                    ShiftNumber : {
                        required : "请输入班次号",
                        remote :  "班次号已存在!!!" ,
                    },

                },
                //自定义错误消息放到哪里
                errorPlacement : function(error, element) {
                    element.next().remove();//删除显示图标
                    element.after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
                    element.closest('.form-group').append(error);//显示错误消息提示
                },
                //给未通过验证的元素进行处理
                highlight : function(element) {
                    $(element).closest('.form-group').addClass('has-error has-feedback');
                },
                //验证通过的处理
                success : function(label) {
                    var el=label.closest('.form-group').find("input");
                    el.next().remove();//与errorPlacement相似
                    el.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
                    label.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                    label.remove();
                },
         		// 数据提交
		        submitHandler:function(form){
		            $.ajax({
		            	url: '/admin/customline/addmessage',
		            	type: 'POST',
		            	dataType: 'json',
		            	data: $('#commentForm').serialize(),
		            })
		            .done(function(response) {
		            	console.log(typeof response);
		            	console.log(response.code);
		            	if(response.code){ // 提交成功
		            		layer.msg(response.message);
		            		window.history.back(-1);
		            	}else{ // 提交失败
		            		layer.msg(response.message);
		            	}
		            })
		            .fail(function() {
		            	console.log("error");
		            })
		            .always(function() {
		            	console.log("complete");
		            });
		        } 
            });
        });
    </script>
   


    
</body>
</html>
