<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link href="/static/tpl/css/plugins/footable/footable.core.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/tpl/css/common/search.css"/>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>定制线路列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-1">
                                <a href="/admin/customline/index" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</a>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <input type="text" value="" placeholder="请输入公司名称" id="provSelect1" class="form-control"> 
                                    <span class="input-group-btn">
                                        <button type="button" id="search" class="btn btn-primary">查询</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                         
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                            <thead>
	                            <tr>
	                                <th data-toggle="true" class="text-left">ID</th>
	                                <th class="text-left">公司名称</th>
                                    <th class="text-left">始发地</th>
                                    <th class="text-left">终点地</th>
	                                <th class="text-left">指派承运商</th>
	                                
	                                <th class="text-left">合同门店数</th>
	                                <th class="text-left">基础运费(元/车)</th>
                                    
	                                <th class="text-left">承运商基础运费(元/车)</th>
	                                <th class="text-center">操作</th>
	                            </tr>
                            </thead>
                            <tbody>
	                           	{volist name="list" id="vo"}
	                            <tr>
	                                <td class="text-left">{$vo.id}</td>
	                                <td class="text-left">{$vo.name}</td>
                                    <td class="text-left">{$vo.startname}</td>
                                    <td class="text-left">{$vo.endname}</td>
	                                <td class="text-left">{$vo.carr_company}</td>
	                                <td class="text-left">{$vo.appoint_door}</td>
	                                <td class="text-left">{$vo.carprice}</td>
	                                <td class="text-left">{$vo.carr_price}</td>
	                                <td class="text-center">
	                                	<a href="/admin/customline/detail?id={$vo.id}" class="btn btn-info">
	                                    	<span class="glyphicon glyphicon-file"></span>
	                                    	<!-- <span>详情</span> -->
	                                    </a>
	                                    <a href="/admin/customline/update?id={$vo.id}" class="btn btn-warning">
	                                    	<span class="glyphicon glyphicon-pencil"></span>
	                                    	<!-- <span>修改</span> -->
	                                    </a>
	                                    <a href="/admin/customline/delate?id={$vo.id}&lineid={$vo.lienid}" class="btn btn-danger">
	                                    	<span class="glyphicon glyphicon-trash"></span>
	                                    	<!-- <span>删除</span> -->
	                                    </a>
	                                </td>
	                            </tr>
	                           	{/volist}
                            </tbody>
                            <tfoot>
                           		<tr>
                                    <td colspan="8">{$page}</td>   
                                </tr> 
                            </tfoot>
                        </table>
                    </div>
            	</div>
        	</div>
    	</div>
    </div>
    <!-- 全局js -->
    <script src="/static/tpl/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/tpl/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/tpl/js/plugins/footable/footable.all.min.js"></script>
    <script>
        $(document).ready(function() {
            // 初始话表格
            $('.footable').footable();
            // 查询
            $('#search').click(function(){
                var psel = document.getElementById("provSelect1");
                window.location.href='/admin/customline/index?search='+psel.value;
            });
        });

    </script>
    

</body>

</html>
