 <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-area-chart"></i>
                                        <strong class="font-bold">赤途(上海)</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">赤途(上海)供应链管理有限公司
                        </div>
                    </li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">管理菜单</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/index/main">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                   <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">平台用户</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="/admin/user/index">平台用户列表</a>
                            </li>
                            <li><a class="J_menuItem" href="/admin/carriers/index">承运商列表</a>
                            </li>
                            <li><a class="J_menuItem" href="/admin/manager/index">项目客户列表</a>
                            </li>
                        </ul>
                    </li>
                   
                   <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">网络运营</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/admin/company/index">承运商公司</a> 
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/shift/index">干线班次 </a>
                               <!-- <a href="#">干线班次 <span class="fa arrow"></span></a>
                               <ul class="nav nav-third-level">
                                    <li><a class="J_menuItem" href="/admin/company/index.html">用户列表</a></li>
                                    <li><a class="J_menuItem" href="/admin/company/addcom.html">用户添加</a></li>
                                </ul>-->
                            </li>
                             <li>
                                <a class="J_menuItem" href="/admin/company/itemindex">物品列表</a> 
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/driver/carlist">车型列表</a> 
                            </li>
                            
                            <li>
                                <a class="J_menuItem" href="/admin/advertisement/index">广告列表</a> 
                            </li>
                             <li>
                                <a class="J_menuItem" href="/admin/advertisement/newsindex">新闻列表</a> 
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">用户信息验证</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/admin/driver/index">司机信息验证</a> 
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/user/userlist">客户信息验证 </a>
                              
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/driver/carindex">车辆信息验证 </a>
                              
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">订单查询</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/admin/order/clientorder">客户订单列表 </a>
                              
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/order/pickorder">提货订单列表</a> 
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/order/lineorder">干线订单列表 </a>
                              
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/carloadorder/prouserorder">货主跨区订单列表 </a>
                              
                            </li>
                             <li>
                                <a class="J_menuItem" href="/admin/carloadorder/cityuserorder">货主市内订单列表 </a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/carloadorder/citycarorder">车主订单列表 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">运营对账</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        <li>
                           <a href="#">客户对账 <span class="fa arrow"></span></a>
                           <ul class="nav nav-third-level">
                                <li><a class="J_menuItem" href="/admin/account/index">业务对账</a></li>
                                <li><a class="J_menuItem" href="/admin/account/affirm">账单确认</a></li>
                                <li><a class="J_menuItem" href="/admin/account/cancel">财务销账</a></li>
                            </ul>
                        </li>
                        <li>
                           <a href="#">承运商对账 <span class="fa arrow"></span></a>
                           <ul class="nav nav-third-level">
                                <li><a class="J_menuItem" href="/admin/carraccount/index">业务对账</a></li>
                                <li><a class="J_menuItem" href="/admin/carraccount/carrcheck">账单确认</a></li>
                                <li><a class="J_menuItem" href="/admin/carraccount/writeoff">财务销账</a></li>
                            </ul>
                        </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">图表</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/admin/charts/index">平台图表</a> 
                            </li>
                           
                             
                           
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
